body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 400px;
}

.box {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
}

form {
  margin-top: 20px;
}

input[type="password"],
input[type="bismillah bener"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #ffffff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
